<div class="flex flex-wrap w-full flex-col justify-center">
  <div class="w-full pb-4 ">
    <div class="flex gap-6">
      <button (click)="restore()" [disabled]=" !changed ? true: null" class="my-2 my-md-0 mr-md-3" color="primary"
              mat-stroked-button>
        <mat-icon>undo</mat-icon>
        Reestablecer
      </button>
      <button (click)="saveChanges()" [disabled]=" !changed ? true: null" color="primary" mat-raised-button>
        <mat-icon>save</mat-icon>
        Guardar Cambios
      </button>
    </div>
    <div>
      <div class="flex gap-6 w-full">
        <div class="w-6/12">
          <mat-card>
            <mat-card-content>
              <button
                class="bg-gray-700 flex justify-center items-center text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                type="button" (click)="newGroup()"
              >
                <mat-icon>add</mat-icon>
                Nuevo grupo
              </button>
              <mat-selection-list [multiple]="false" style="max-height: 600px; overflow: auto">
                <div mat-subheader>Grupos</div>
                <mat-list-option (click)="selectGroup(index)" *ngFor="let group of groups; let index = index"
                                 [class.selectedGroup]="selectedIndex === index">
                  <div class="flex w-full justify-between items-center">
                    <h3>{{group.name}}</h3>
                    <div class="flex">
                      <button (click)="$event.stopPropagation(); delete(group)" class="float-right" color="warn"
                              mat-icon-button
                              matTooltip="Eliminar">
                        <mat-icon>delete</mat-icon>
                      </button>

                    </div>
                  </div>
                </mat-list-option>
              </mat-selection-list>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="w-6/12">
          <mat-card class="permission-card">
            <mat-card-header>
              <div class="flex w-full items-center justify-between">
                <mat-checkbox #all (change)="toggleSelectAll($event)" color="primary"
                              style="margin-left: -16px;">{{all.checked ? 'Deseleccionar ' : 'Seleccionar '}} todos
                </mat-checkbox>
                <div class="text-muted font-weight-bold">
                  Permisos
                </div>
                <mat-form-field appearance="fill" floatLabel="auto">
                  <mat-label>Filtrar</mat-label>
                  <input [formControl]="permissionFilterControl" matInput type="text">
                </mat-form-field>

              </div>
            </mat-card-header>
            <mat-card-content>
              <mat-selection-list #permissionsSelected (selectionChange)="changeSelection()"
                                  [(ngModel)]="selectedPermissions"
                                  style="max-height: 600px; overflow: auto">
                <mat-list-option *ngFor="let permission of filteredPermissions; let index = index"
                                 [value]="permission.id"
                                 checkboxPosition="before"
                                 color="primary">{{permission.name}}</mat-list-option>


              </mat-selection-list>

            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
