<div
  class="relative flex flex-col min-w-0 w-full mb-6 shadow-xl rounded-lg"
>

  <div class="block w-full overflow-x-auto rounded-lg">
    <div class="mat-elevation-z8">
      <div class="bg-gray-100 pt-4 px-4 pb-2">
        <p class="text-xs font-bold text-gray-700 uppercase">{{title | uppercase}}</p>
      </div>
      <hr>
      <mat-table [dataSource]="tableDataSource">

        <ng-container *ngFor="let column of dataColum" [matColumnDef]="column.dataKeyName">
          <mat-header-cell *matHeaderCellDef> {{column.headerName | titlecase}}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row[column.dataKeyName]}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <hr>
      <mat-paginator #paginator
                     [pageSize]="5"
                     [pageSizeOptions]="[5, 10, 20, 50]"
                     aria-label="Select page"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>

  </div>
</div>
