<div
  class="relative flex flex-col min-w-0 w-full mb-6 shadow-xl rounded-lg"
>

  <div class="block w-full overflow-x-auto rounded-lg">
    <div class="mat-elevation-z8" style="overflow-x: auto">
      <div class="bg-gray-200 pt-4 px-4 pb-2 flex justify-between items-center">
        <p class="text-2xl font-bold text-gray-600 uppercase">{{title | uppercase}}</p>
        <div *ngIf="dataButton.show">
          <button mat-mini-fab color="primary"
                  [matTooltip]="dataButton.tooltip"
                  (click)="dataButton.onClickF()"
          >
            <mat-icon>{{dataButton.icon}}</mat-icon>
          </button>
        </div>
      </div>
      <hr>
      <mat-table [dataSource]="tableDataSource">

        <ng-container *ngFor="let column of dataColum" [matColumnDef]="column.dataKeyName">
          <mat-header-cell *matHeaderCellDef> {{column.headerName | titlecase}}</mat-header-cell>
          <mat-cell *matCellDef="let row"
                    [matTooltip]="column.tooltipMsg"
                    matTooltipPosition="right">
            <div *ngIf="column.isIcon; else textColumn">
              <mat-icon *ngFor="let actions of column.iconData"
                        (click)="handleClick(row, actions)"
                        [matTooltip]="actions.tooltipMsg"
                        class="hover:scale-125 hover:text-red-800 cursor-pointer ml-1">
                {{actions.icon}}
              </mat-icon>
            </div>
            <ng-template #textColumn>
              {{row[column.dataKeyName]}}
            </ng-template>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <hr>
      <mat-paginator #paginator
                     [pageSize]="5"
                     [pageSizeOptions]="[5, 10, 20, 50]"
                     aria-label="Select page"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>

  </div>
</div>
