<h2 mat-dialog-title>Capturar imagen</h2>
<mat-dialog-content class="mat-typography">
  <div>
    <div>
      <div>
        <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="mostrarWebcam"

                [switchCamera]="nextWebcamObservable"

                [imageQuality]="1"
                (cameraSwitched)="cameraSwitched($event)"
                (initError)="handleInitError($event)"
        ></webcam>
        <br/>
        <button  class="btn btn-primary m-5" (click)="triggerCaptura();">Take A Snapshot</button>
        <button  class="btn btn-primary m-5" (click)="toggleWebcam();">Toggle Webcam</button>
        <br/>
        <button  class="btn btn-primary m-5" (click)="showNextWebcam(true);" [disabled]="!multiplesCamarasDisponibles">Next Webcam</button>
        <input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="permitirCambioCamara"><label for="cameraSwitchCheckbox">Allow Camera Switch</label>
        <br/>
        dispositivoId: <input id="dispositivoId" type="text" [(ngModel)]="dispositivoId" style="width: 500px">
        <button (click)="showNextWebcam(dispositivoId);"  class="btn btn-primary m-5">Activate</button>
      </div>
    </div>

    <div class="snapshot" *ngIf="imagenWebcam">
      <h2>Nice one!</h2>
      <img [src]="imagenWebcam.imageAsDataUrl"/>
    </div>

    <h4 *ngIf="errors.length > 0">Messages:</h4>
    <ul *ngFor="let error of errors">
      <li>{{error | json}}</li>
    </ul>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
