<div class="p-4 bg-gray-100">
  <p class="text-center text-3xl font-bold text-gray-500">Capturar imagen</p>
</div>
<hr>

<mat-dialog-content class="mat-typography h-full max-h-[60vh]">
  <div class="flex flex-col gap-3 items-center h-full">
    <div class="flex w-full gap-8 justify-around pt-2 flex-col lg:flex-row">
      <div class="text-center">
        <h2>Cámara</h2>
        <div class="w-full h-full lg:w-[30rem] lg:h-[20rem] 2xl:w-[35rem] 2xl:h-[25rem]">
          <div class="w-full h-full object-cover">
            <webcam [trigger]="triggerObservable"
                    (imageCapture)="handleImage($event)"
                    *ngIf="mostrarWebcam"
                    [switchCamera]="nextWebcamObservable"
                    [imageQuality]="1"
                    (cameraSwitched)="cameraSwitched($event)"
                    (initError)="handleInitError($event)"
            ></webcam>
          </div>
        </div>
      </div>

      <div class="flex md:flex-col gap-6 flex-row items-center justify-center">
        <button mat-mini-fab color="primary"
                matTooltip="Capturar"
                (click)="triggerCaptura()"
        >
          <mat-icon>camera_alt</mat-icon>
        </button>
<!--        <button mat-mini-fab color="primary"-->
<!--                matTooltip="Cambiar Webcam"-->
<!--                (click)="toggleWebcam()"-->
<!--        >-->
<!--          <mat-icon>shuffle</mat-icon>-->
<!--        </button>-->
        <button mat-mini-fab color="primary"
                [disabled]="!multiplesCamarasDisponibles"
                matTooltip="Siguiente Webcam"
                (click)="showNextWebcam(true)"
        >
          <mat-icon>skip_next</mat-icon>
        </button>
      </div>

      <div class="text-center">
        <h2>Imagen</h2>
        <div class="w-full h-full lg:w-[30rem] lg:h-[20rem] 2xl:w-[35rem] 2xl:h-[25rem]">
          <img class="w-full h-full object-cover" *ngIf="imagenWebcam; else base"
               [src]="imagenWebcam.imageAsDataUrl"  style="transform: scaleX(-1);"/>
          <ng-template #base>
            <img class="w-full h-full object-contain" src="./assets/OIP.png"/>
          </ng-template>
        </div>
      </div>
    </div>

    <div>
      <h4 *ngIf="errors.length > 0">Messages:</h4>
      <ul *ngFor="let error of errors">
        <li>{{error | json}}</li>
      </ul>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="p-3">
  <button mat-button mat-dialog-close class="mr-3" color="warn">Cancelar</button>
  <button mat-button mat-raised-button color="primary"
          cdkFocusInitial
          [disabled]="imagenWebcam === undefined"
          (click)="handleSaveBtnClick()">Guardar</button>
</mat-dialog-actions>
