<div class="container w-full h-fit p-2">
  <form [formGroup]="groupForm" (ngSubmit)="save()" class="w-full">
    <div class="flex flex-col">
      <mat-form-field appearance="fill" floatLabel="auto" class="w-full">
        <mat-label>Nombre</mat-label>
        <input formControlName="name" matInput type="text">
      </mat-form-field>
      <button
        class=" w-full bg-gray-700 flex justify-center items-center text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
        type="submit">
        Guardar
      </button>
      <button class="w-full mt-3" mat-dialog-close mat-stroked-button>
        Cancelar
      </button>
    </div>

  </form>
</div>
